<h1>Purchase</h1>

<div id="prod-pur">
    <img ng-src="#" ng-alt="{{product.description}}" />
    <h2>{{product.title}}</h2>
    <p>{{product.price | currency}}</p>
    <p>{{product.description}}</p>
</div>



<form>
<input id="pur-email" type="text" placeholder="Enter Email" ng-model="#">
<input id="pur-card-num" type="text" placeholder="Enter Card-Number" ng-model="#">
<input id="pur-cvc" type="text" placeholder="Enter Card-CVC" ng-model="#">
<input id="pur-exp" type="text" placeholder="Enter Card-Expiration-Date" ng-model="#">
<input id="pur-zip" type="text" placeholder="Enter Billing Zip-Code" ng-model="#">
<button id="submit-btn" ng-click="#">Purchase Item</button>
</form>