<h1>Purchase</h1>

<div id="prod-pur">
    <img ng-src="#" ng-alt="{{product.description}}" />
    <h2>{{product.title}}</h2>
    <p>{{product.price | currency}}</p>
    <p>{{product.description}}</p>
</div>



<form>
<input id="pur-email" type="text" placeholder="Enter Email">
<input id="pur-card-num" type="text" placeholder="Enter Card-Number">>
<input id="pur-cvc" type="text" placeholder="Enter Card-CVC">>
<input id="pur-exp" type="text" placeholder="Enter Card-Expiration-Date">>
<input id="pur-zip" type="text" placeholder="Enter Billing Zip-Code">>
<button id="submit-btn">Purchase Item</button>
</form>